CompileFlags:
  Add:
    - -I.
    - -Ibackends/include
    - -Ibackends/OscillatorBackend
    - -Ibackends/PdBackend
    - -Ibackends/DdspBackend
    - -Ibackends/registry
    - -Inative/UPIInstrument/Kernel
