<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Universal Public Instrument</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>AudioComponentBundle</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>AudioComponents</key>
			<array>
				<dict>
					<key>name</key>
					<string>UPI: Universal Public Instrument</string>
					<key>description</key>
					<string>Universal Public Instrument</string>
					<key>factoryFunction</key>
					<string>$(PRODUCT_MODULE_NAME).AudioUnitViewController</string>
					<key>manufacturer</key>
					<string>UPI_</string>
					<key>type</key>
					<string>aumu</string>
					<key>subtype</key>
					<string>UPIi</string>
					<key>version</key>
					<integer>65536</integer>
					<key>sandboxSafe</key>
					<true/>
					<key>tags</key>
					<array>
						<string>Synthesizer</string>
					</array>
				</dict>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.AudioUnit-UI</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).AudioUnitViewController</string>
	</dict>
</dict>
</plist>
